In [ ]:
a=10
print(a)

# This is my first Note

## Wishlist
* Python
* Numpy
* Panda
* Matplotlib

### Data Type  
<span style="color:red">Double space `' '` for newline.</span>  
`''' '''` for multiline string  
list is equivalent to array

In [10]:
myList=[1,2,3,4,5]
print("This is my List: ",myList)
s="Hey\n guys"
print(list(s))
print(s)
s2='''Hey
guys'''
print(s2[2])
type(s2)

This is my List:  [1, 2, 3, 4, 5]
['H', 'e', 'y', '\n', ' ', 'g', 'u', 'y', 's']
Hey
 guys
y

str

In [12]:
print(10/2)
print(type(10/2))
print(10//2)
type(10//2)

5.0
<class 'float'>
5

int

<span style="color:red">None</span> is maybe equi. to NULL.

In [13]:
nothing = None
type(nothing)

NoneType

In [2]:
today="Saturday"
print(today[5:8])
# 8 is the index after the last one and it is not included in the output
print("Hectic",today[5:])
print("Sat" in today)
print("Sun" in today)
print("Sun" not in today)
today=today.replace("Satur","Sun")
print(today)

day
Hectic day
True
False
True
Sunday

In [5]:
print(today[:-1])

Sunda

In [10]:
# Naive way
size=input("Enter the size of the pattern:")
size=int(size)
line='*'
for i in range(size):
    for j in range(size-i-1):
        print(" ",end="") #end="" is used to avoid the new line character
    print(line)
    line+='*'
line=line[:-1] #cz line became one character longer than the size
for i in range(size-1):
    for j in range(i+1):
        print(" ",end="")
    print(line[:-i-1]) #:-i-1 is used to remove the last i characters from the line

   *
  **
 ***
****
 ***
  **
   *

In [21]:
# Better Pythonic Way
size=4
line=' '*(size-1)+'*'
for i in range(2*size-1):
    print(line)
    if i<size-1:
        line=line[1:]+'*'
    else:
        line=' '+line[:-1]

   *
  **
 ***
****
 ***
  **
   *

In [17]:
size=input("Enter the size of the pattern:")
size=int(size)
spaceLine='a'*size+'*' #A string with size number of 'a' and one '*'
print(spaceLine)
spaceLine=spaceLine[1:] #remove the first character
print(spaceLine)
spaceLine=spaceLine[:-1] #remove the last character
print(spaceLine)

aaaa*
aaa*
aaa

          *
         ***
        *****
       *******
      *********
     ***********
      *********
       *******
        *****
         ***
          *
### Make this pattern

In [18]:
size=6
line=' '*(size-1)+'*'
for i in range(2*size-1):
    print(line)
    if i<size-1:
        line=line[1:]+'**'
    else:
        line=' '+line[:-2]

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

The following is like `Ternary Operator` in C/Cpp

In [22]:
result=0 if 1==1 else 1
print(result)

0